@charset "UTF-8";

body {
        background-color: #FFFFFF;
        font-family: David, David CLM, Frankruehl, Narkisim, Times New Roman, Times, serif;
        font-size: 18px;
        line-height: 18px;
        text-align: right;
        direction: rtl;
}

.normal {
}

.source {
    text-decoration: underline;
	color: #464646
}

.בדיקה {
  text-decoration: underline;
  color: #FF0000
}

