@charset "UTF-8";

body {
        background-color: #FFFFFF;
        font-family: David, Frankruehl, Narkisim, Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-align: right;
        direction: rtl;
}

.normal {
}

.source {
    text-decoration: underline;
	color: #464646
}

.בדיקה {
  text-decoration: underline;
  color: #FF0000
}

