<html>
<body>
<div dir="rtl" align="right">
<%= :mail_signup_hello.l_with_args( :name => @user.fullname) %>

<%= :mail_signup_body.l_with_args( :login => @user.login, :password => @clear_password) %>

<%= :mail_signature.l %>
</div>
</body></html>
