<html>
<body>
<div dir="rtl" align="right">
<%= t(:mail_signup_hello, :name => @user.fullname) %>

<%= t(:mail_signup_body, :login => @user.login, :password => @clear_passwd) %>

<%= t(:mail_signature) %>
</div>
</body></html>
