# Enter your per-environment constants below

development: &default
  type:  1
  proof: 2
  fixup: 3
  problem: 4
  scanurlbase: "http://example.com/scans"
  puburlbase: "http://example.com" # app root
  google_oauth_client_id: 'blah'
  google_oauth_client_secret: 'blah'


production:
  <<: *default
  
test:
  <<: *default
