<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<h1>Import new scans</h1>

<form action="/scan/doimport">
<b>Path to images</b>: /var/www/_ebydict/<input name="path"><br/>
<b>Volume</b>: <input name="volume"><br/>
<input type="submit">

<p/>
Basic help: find the correct path using WinSCP or whatever.
</form>
