<script language="javascript" type="text/javascript">
// EBYDict stuff

$(document).ready(function() {

});
</script>
<style type="text/css">
.defhead
{
  font-size: 200%;
  font-weight: bold;
}
.defbody
{
  font-family:David,serif;
  font-size: 14pt;
}
.footnote_num
{
  font-size: 70%;
  vertical-align: super;
}
.footnote_ref
{
  font-size: 70%;
  vertical-align: super;
}
.footnote
{
  font-family:David,serif;
  font-size: 12pt;
}
.comment
{
  color:blue;
}
.source
{
  color: green;
  font-size: 75%;
}
.problem
{
  color: red;
  font-size: 75%;
  vertical-align: sub;
}
</style>
<div class="defcontainer">
<div class="defhead"><%= raw @defhead %></div>
<div class="defbody"><%= raw @defbody %></div>
<hr/>
<div class="footnotes"><%= raw @footnotes %></div>
</div>
<p/>
<%= link_to t(:user_back),  :controller => :user, :action => 'index' %>

