//
//@charset "UTF-8";

body {
        background-color: #FFFFFF;
        font-family: David, David CLM, Frankruehl, Narkisim, Times New Roman, Times, serif;
        font-size: 16px;
        line-height: 16px;
        text-align: right;
        direction: rtl !important;
}
#editors.p {
  font-family: David, David CLM, Frankruehl, Narkisim, Times New Roman, Times, serif !important;
  font-size: 16px !important;
  line-height: 16px !important;
  text-align: right;
  direction: rtl;
}

.normal {
}

.source {
    text-decoration: underline;
	color: #464646;
}
